{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },

  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },

  "plugins": [],

  "rules": {
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-underscore-dangle" : 0
  },

  "globals": {
    "DEBUG": false,
    "define": false,
    "describe": false,
    "before": false,
    "it": false,
    "after": false,
    "afterEach": false,
    "beforeEach": false,
    "_": false,
    "should": false,
    "sinon": false
  }
}
